@model IEnumerable<INotification>
<div id="pageMessageWrap">
    <ul>
        @foreach (var notification in Model)
        {
            <li class="pageMessage">
                <div class="messageWrap @notification.Type.ToString().ToLower()">
                    @if (notification.HasClose)
                    {
                        <span class="close">X</span>
                    }
                    <div class="titleWrap">
                        <span class="title">@notification.PreTitle</span> <span class="spacer">@notification.Spacer</span>
                        <span class="title">@notification.Title</span>
                    </div>
                    <p class="message">
                        @Html.Raw(notification.Message.Replace("/n", "<br />"))
                    </p>
                    @if (notification.HasUndo)
                    {
                        <a href="#" class="undo">Undo.</a>
                    }
                </div>
            </li>
        }
    </ul>
</div>
@{
    var controlsClass = Model.Any() ? "showing" : string.Empty;
    var controllsDisplay = "display:" + (Model.Any() ? "block" : "none") + ";";
}
<div id="messageControls" class="@controlsClass" style="@controllsDisplay">
    <span><a href="#">Clear All Messages</a></span>
</div>