@model TickBox.Web.Models.Specialism.SpecialismViewModel
@{
    ViewBag.Title = "View";
}

@section PageHeader
{
    <h2>
        View Specialism Details
    </h2>
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Specialism {ID: @Model.SpecialismId}</legend>
        <div class="display-label">
            Title
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.SpecialismTitle)
        </div>
    </fieldset>
}
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.SpecialismId}) |
    @Html.ActionLink("Back", "Index", "Home")
</p>